<template>
  <div id="app">
    <navbar />
    <div class="uk-flex uk-flex-center uk-padding uk-background-muted">
      <div class="uk-grid-small uk-child-width-auto uk-grid">
        <label><input v-model="type" value="0" class="uk-radio" type="radio" name="type" checked> ZIP CODE</label>
        <label><input v-model="type" value="1" class="uk-radio" type="radio" name="type"> DISTRICT</label>
      </div>
    </div>
    <div class="uk-flex uk-flex-column uk-flex-center uk-padding">
      <label>{{label}}</label>
      <template>
        <select v-model="zip" v-if="type==0" class="uk-select" placeholder="zip code">
          <option value=""> select zip code</option>
          <option :key="z" v-for="z in zips">{{z}}</option>
        </select>
        <select v-else v-model="district" class="uk-select" placeholder="district">
          <option value=""> select district </option>
          <option :key="d" v-for="d in districts" :value="d">District {{d}}</option>
        </select>
      </template>
    </div>
    <div class="uk-padding">
      <button @click="search" class="uk-button uk-button-primary" :disabled="canNotSearch">Generate</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import NavBar from './components/NavBar.vue'
import SearchForm from './components/SearchForm.vue'

const BASE_URL = 'http://district/api.php?'

export default {
  name: 'app',
  components: {
    navbar: NavBar,
    SearchForm
  },
  mounted(){
    axios.get(`${BASE_URL}action=zips`).then(resp => {
      this.zips = resp.data;
    });
  },
  data() {
    return {
      zip: '',
      district: '',
      type: 0,
      zips: [38002,38014,38016,38017,38018,38019,38028,38053,38103,38104,38105,38106,38107,38108,38109,38111,38112,38113,38114,38115,38116,38117,38118,38119,38120,38122,38125,38126,38127,38128,38131,38132,38133,38134,38135,38138,38139,38141,38183],
      districts: ['1', '2', '3', '4', '5', '6', '7', '8-1', '8-2', '8-3', '9-1', '9-2', '9-3']
    };
  },
  computed: {
    label(){
      if(this.type == 0){
        return 'Zip Code';
      } else {
        return 'District';
      }
      return true;
    },
    canNotSearch(){
      if(this.type == 0 && this.zip != ''){
        return false;
      } else if(this.type == 1 && this.district != ''){
        return false;
      }
      return true;
    }
  },
  methods: {
    search(){
      if(this.type == 0){
        document.location.href = `${BASE_URL}action=csv&t=0&zip=${this.zip}`;
      } else {
        document.location.href = `${BASE_URL}action=csv&t=1&dist=${this.district}`;
      }
    }
  }
}
</script>

<style>
html {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
}
#app {
  overflow: hidden;
  margin: auto;
  display: flex;
  height: 400px;
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #DDD;
  background-color: #ffffff;
}
</style>
