<template>
  <nav id="nav" class="uk-navbar-container uk-width-1-1 uk-background-primary" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#">District Finder</a>
    </div>
  </nav>  
</template>

<style>
#nav {
  background-color: rgb(29, 83, 136);
}
.uk-logo, .uk-icon {
  color: #fff !important;
}
</style>
