<template>
  <div class="uk-background-muted uk-padding uk-width-1-4 uk-panel">
    <!-- <form> -->
      <fieldset class="uk-fieldset">
        <legend class="uk-legend">Search</legend>
        <div class="uk-margin">
          <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
            <label><input v-model="type" value="0" class="uk-radio" type="radio" name="type" checked> ZIP CODE</label>
            <label><input v-model="type" value="1" class="uk-radio" type="radio" name="type"> DISTRICT</label>
          </div>
          <template>
            <select v-model="zip" v-if="type==0" class="uk-select" placeholder="zip code">
              <option :key="z" v-for="z in zips">{{z}}</option>
            </select>
            <select v-else v-model="district" class="uk-select" placeholder="district">
              <option :key="d" v-for="d in districts" :value="d">District {{d}}</option>
            </select>
          </template>
          <div class="uk-padding uk-padding-remove-left">
            <button @click="search" class="uk-button uk-button-primary" :disabled="canNotSearch">Generate</button>
          </div>
        </div>
      </fieldset>
    <!-- </form> -->
  </div>  
</template>

<script>
export default {
  name: 'search-form',
  data() {
    return {
      zip: '',
      district: '',
      type: 0,
      zips: [38002,38014,38016,38017,38018,38019,38028,38053,38103,38104,38105,38106,38107,38108,38109,38111,38112,38113,38114,38115,38116,38117,38118,38119,38120,38122,38125,38126,38127,38128,38131,38132,38133,38134,38135,38138,38139,38141,38183],
      districts: ['1', '2', '3', '4', '5', '6', '7', '8-1', '8-2', '8-3', '9-1', '9-2', '9-3']
    };
  },
  computed: {
    canNotSearch(){
      if(this.type == 0 && this.zip != ''){
        return false;
      } else if(this.type == 1 && this.district != ''){
        return false;
      }
      return true;
    }
  },
  methods: {
    search(){
      if(this.type == 0){
        this.$emit('search', this.type, this.zip);
      } else {
        this.$emit('search', this.type, this.district);
      }
    }
  }
}
</script>

<style scoped>
</style>
